{{!
    EdzCorp — embedded template (iframes / redirects).
}}
{{{output.doctype}}}
<html {{{output.htmlattributes}}}>
<head>
    <title>{{{pagetitle}}}</title>
    {{{output.standard_head_html}}}
</head>
<body {{{bodyattributes}}}>
{{{output.standard_top_of_body_html}}}
<div id="maincontent" class="edz-embedded-content">
    {{{maincontent}}}
</div>
{{{output.standard_after_main_region_html}}}
{{{output.standard_end_of_body_html}}}
</body>
</html>
