{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}


{{#block22enabled}}
<section id="block22" style="background-color: {{block22bgcolor}};">
    
    <div class="container py-4">
        {{#block22title}}
        <div class="row">
            <div class="section-title-fp  hytext text-center pt-2 pb-2">
            <h4 class="caption-title">{{{block22title}}}</h4>

            </div>

        </div>
        {{/block22title}}

        <!-- FAQ Accordion -->
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="accordion" id="faqAccordion">
                    {{#questions}}
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header frontpage-faq" id="heading{{index}}">
                            <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{index}}"
                                aria-expanded="false"
                                aria-controls="collapse{{index}}">
                                {{{question}}}
                            </button>
                        </h2>
                        <div id="collapse{{index}}" class="accordion-collapse collapse"
                             aria-labelledby="heading{{index}}"
                             data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                {{{answer}}}
                            </div>
                        </div>
                    </div>
                    {{/questions}}
                </div>
            </div>
        </div>

    </div>
</section>

{{/block22enabled}}
