<header id="page-header" class="edz-header d-flex align-items-center rashidone">
    <div class="container-fluid px-4">
        <div class="d-flex justify-content-between align-items-center w-100">
            {{{ output.page_heading }}}
            {{{ output.page_heading_button }}}
        </div>
    </div>
</header>